<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="applications">
      <h2 data-cy="applicationsDetailsHeading" class="custom-title">
        <span
          >Visualisation de l'application: <b>{{ applications.nom }}</b></span
        >
      </h2>
      <!-- <hr /> -->

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ applications.nom }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ applications.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/applications', applications.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Modifier</span>
      </button>
    </div>
  </div>
</div>
