<div>
  <h2 id="page-heading" data-cy="ClasseHeading">
    <span>Classes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-classe"
        [routerLink]="['/classe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="classes?.length === 0">
    <span>Aucune classe trouvée !</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="classes && classes.length > 0">
    <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libelle"><span>Libellé</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classe of classes; trackBy: trackId" data-cy="entityTable">
          <td>{{ classe.code }}</td>
          <td>{{ classe.libelle }}</td>
          <td>{{ classe.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!-- <button
                type="submit"
                [routerLink]="['/classe', classe.id, 'view']"
                class="btn btn-outline-info btn-sm"
                data-cy="entityDetailsButton"
                title="Details"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button> -->
              <button
                type="submit"
                (click)="openPopup(classe)"
                class="btn btn-outline-primary btn-sm"
                data-cy="entityEditButton"
                title="Modifier"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
              <button
                type="submit"
                (click)="delete(classe)"
                class="btn btn-outline-danger btn-sm"
                data-cy="entityDeleteButton"
                title="Supprimer"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="classes && classes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>

<!-- DEBUT MODAL - CODE FORCAGE -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayStyle }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="font-size: 16px; text-align: center">
        <h4 class="modal-title"><b>Confirmation</b></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="form-label custom-label" for="field_code" required>Code de forçage <span style="color: red">*</span> </label>
          <input
            type="text"
            class="form-control custom-control"
            name="code"
            id="field_code"
            data-cy="code"
            placeholder="merci de saisir le code de forçage svp ........."
            [(ngModel)]="codeForcage"
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePopup()">Quitter</button>
        <button type="button" class="btn btn-primary" (click)="validPopup()">Valider</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL - CODE FORCAGE -->
