<div class="d-flex justify-content-center">
  <div class="col-10 custom-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-destinataires-heading" data-cy="DestinatairesCreateUpdateHeading" class="custom-title" style="text-align: center">
        {{ this.titre }}
      </h2>
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="justify-content-center" style="border: 1px solid lightgray; padding: 2%">
          <fieldset>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Type Déstinataire<span style="color: red">*</span> </label>
                <select
                  class="form-control custom-control"
                  id="field_typedestinataires"
                  data-cy="typedestinataires"
                  name="typedestinataires"
                  formControlName="typedestinataires"
                  (change)="onTypeDestinataireChange(editForm.get('typedestinataires')!.value)"
                >
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="
                      typeDestinatairesOption.id === editForm.get('typedestinataires')!.value?.id
                        ? editForm.get('typedestinataires')!.value
                        : typeDestinatairesOption
                    "
                    *ngFor="let typeDestinatairesOption of typeDestinatairesSharedCollection; trackBy: trackTypeDestinatairesById"
                  >
                    {{ typeDestinatairesOption.libelle }}
                  </option>
                </select>
              </div>
              <div class="col-md-6"></div>
            </div>

            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Code<span style="color: red">*</span> </label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="code"
                  id="field_code"
                  data-cy="code"
                  formControlName="code"
                  required
                  oninput="this.value = this.value.toUpperCase()"
                />
                <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required"> Ce champ est obligatoire. </small>
                  <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.minlength">
                    Ce champ doit comporter au moins 3 caractères.
                  </small>
                  <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.maxlength">
                    Ce champ doit comporter au plus 10 caractères.
                  </small>
                  <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.pattern"> Pas de caracteres spéciaux". </small>
                </div>
              </div>
              <div class="col-md-6">
                <label>Libellé <span style="color: red">*</span> </label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="libelle"
                  id="field_libelle"
                  data-cy="libelle"
                  formControlName="libelle"
                  oninput="this.value = this.value.toUpperCase()"
                />
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Prénom<span style="color: red">*</span> </label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="prenom"
                  id="field_prenom"
                  data-cy="prenom"
                  formControlName="prenom"
                  required
                  oninput="this.value = this.value.toUpperCase()"
                />
              </div>
              <div class="col-md-6">
                <label>Nom<span style="color: red">*</span> </label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="nom"
                  id="field_nom"
                  data-cy="nom"
                  formControlName="nom"
                  required
                  oninput="this.value = this.value.toUpperCase()"
                />
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Adresse </label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="adresse"
                  id="field_adresse"
                  data-cy="adresse"
                  formControlName="adresse"
                  oninput="this.value = this.value.toUpperCase()"
                />
              </div>
              <div class="col-md-6">
                <label>Compte Bancaire </label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="comptebancaire"
                  id="field_comptebancaire"
                  data-cy="comptebancaire"
                  formControlName="comptebancaire"
                  oninput="this.value = this.value.toUpperCase()"
                />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <br />
      <div style="display: flex; justify-content: center; align-items: center">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>
        &nbsp;
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
        </button>
      </div>
    </form>
  </div>
</div>
