<div id="contentPrint">
  <div id="OriginalPart">
    <div class="col-12">
      <div class="row mb-4">
        <div class="col mb-2 row" style="margin-top: 10px"></div>
      </div>

      <div class="row mb-4">
        <div class="col mb-2 row" style="margin-left: 40px">
          <input
            type="text"
            style="text-align: center; color: black; font-weight: bold; font-size: 20px; background-color: #fff"
            size="10em"
            disabled
            value="Matricule Agent : "
          />
          {{ priseEnCompte?.matricule }}
        </div>
        <div
          class="col mb-2 row"
          style="
            float: right;

            padding: 0px 0em 0 0em;
          "
        >
          <h5 style="color: black; font-size: 20px; font-weight: bold"></h5>
        </div>
      </div>
    </div>
  </div>
</div>
