<form *ngIf="pages" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="rolesProfilDialogHeading">Liste des Roles associés</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-pages-heading">
      Les actions qui peuvent accéder à la page <b> {{ pages.libelle }} </b> :
    </p>

    <div class="table-responsive" id="entities" *ngIf="pages.actions && pages.actions.length > 0">
      <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span>Libellé</span> <fa-icon icon="sort"></fa-icon></th>

            <th scope="col"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actions of pages.actions" data-cy="entityTable">
            <td>{{ actions.libelle }}</td>

            <td>{{ actions.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
