<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="posteGrade">
      <h2 data-cy="posteGradeDetailsHeading"><span jhiTranslate="admingatewayApp.posteGrade.detail.title">Poste Grade</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ posteGrade.id }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.posteGrade.codeGrade">Code Grade</span></dt>
        <dd>
          <span>{{ posteGrade.codeGrade }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.posteGrade.codePoste">Code Poste</span></dt>
        <dd>
          <span>{{ posteGrade.codePoste }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/poste-grade', posteGrade.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
