<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-param-bulletins-heading"
        data-cy="ParamBulletinsCreateUpdateHeading"
        jhiTranslate="admingatewayApp.paramBulletins.home.createOrEditLabel"
      >
        Create or edit a Param Bulletins
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramBulletins.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramBulletins.libelle" for="field_libelle">Libellé</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
          <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('libelle')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramBulletins.entete" for="field_entete">Entete</label>
          <input type="text" class="form-control" name="entete" id="field_entete" data-cy="entete" formControlName="entete" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramBulletins.signature" for="field_signature">Signature</label>
          <input type="text" class="form-control" name="signature" id="field_signature" data-cy="signature" formControlName="signature" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramBulletins.arrierePlan" for="field_arrierePlan">Arriere Plan</label>
          <input
            type="text"
            class="form-control"
            name="arrierePlan"
            id="field_arrierePlan"
            data-cy="arrierePlan"
            formControlName="arrierePlan"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramBulletins.userIdInsert" for="field_userIdInsert"
            >User Id Insert</label
          >
          <input
            type="number"
            class="form-control"
            name="userIdInsert"
            id="field_userIdInsert"
            data-cy="userIdInsert"
            formControlName="userIdInsert"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramBulletins.userdateInsert" for="field_userdateInsert"
            >Userdate Insert</label
          >
          <div class="input-group">
            <input
              id="field_userdateInsert"
              data-cy="userdateInsert"
              type="text"
              class="form-control"
              name="userdateInsert"
              ngbDatepicker
              #userdateInsertDp="ngbDatepicker"
              formControlName="userdateInsert"
            />
            <button type="button" class="btn btn-secondary" (click)="userdateInsertDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
