<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="categorieActes">
      <h2 data-cy="categorieActesDetailsHeading">
        <span jhiTranslate="admingatewayApp.categorieActes.detail.title">Categorie Actes</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ categorieActes.id }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.categorieActes.code">Code</span></dt>
        <dd>
          <span>{{ categorieActes.code }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.categorieActes.libelle">Libelle</span></dt>
        <dd>
          <span>{{ categorieActes.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.categorieActes.description">Description</span></dt>
        <dd>
          <span>{{ categorieActes.description }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.categorieActes.userIdInsert">User Id Insert</span></dt>
        <dd>
          <span>{{ categorieActes.userIdInsert }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.categorieActes.userdateInsert">Userdate Insert</span></dt>
        <dd>
          <span>{{ categorieActes.userdateInsert | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/categorie-actes', categorieActes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
