<div>
  <h2 id="page-heading" data-cy="TypeActesHeading">
    <span>Type Actes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="admingatewayApp.carriereTypeActes.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-actes"
        [routerLink]="['/type-actes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="typeActes?.length === 0">
    <span jhiTranslate="admingatewayApp.carriereTypeActes.home.notFound">No typeActes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typeActes && typeActes.length > 0">
    <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="code">
            <span jhiTranslate="admingatewayApp.carriereTypeActes.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th> -->
          <th scope="col" jhiSortBy="libelle">
            <span jhiTranslate="admingatewayApp.carriereTypeActes.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!-- <th scope="col" jhiSortBy="userInsertId">
            <span jhiTranslate="admingatewayApp.carriereTypeActes.userInsertId">User Insert Id</span> <fa-icon icon="sort"></fa-icon>
          </th> -->
          <!-- <th scope="col" jhiSortBy="userdateInsert">
            <span jhiTranslate="admingatewayApp.carriereTypeActes.userdateInsert">Userdate Insert</span> <fa-icon icon="sort"></fa-icon>
          </th> -->
          <th scope="col" jhiSortBy="categorieActes.id">
            <span jhiTranslate="admingatewayApp.carriereTypeActes.categorieActes">Categorie Actes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typeActes of typeActes; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/type-actes', typeActes.id, 'view']">{{ typeActes.id }}</a>
          </td> -->
          <!-- <td>{{ typeActes.code }}</td> -->
          <td>{{ typeActes.libelle }}</td>
          <!-- <td>{{ typeActes.userInsertId }}</td>
          <td>{{ typeActes.userdateInsert | formatMediumDatetime }}</td> -->
          <td>
            <div *ngIf="typeActes.categorieActes">
              <a [routerLink]="['/categorie-actes', typeActes.categorieActes?.id, 'view']">{{ typeActes.categorieActes.libelle }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-actes', typeActes.id, 'view']"
                class="btn btn-outline-info btn-sm"
                data-cy="entityDetailsButton"
                title="Details"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-actes', typeActes.id, 'edit']"
                class="btn btn-outline-primary btn-sm"
                data-cy="entityEditButton"
                title="Modifier"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                (click)="delete(typeActes)"
                class="btn btn-outline-danger btn-sm"
                data-cy="entityDeleteButton"
                title="Supprimer"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="typeActes && typeActes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
