<form *ngIf="modules" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="pagesModulesDialogHeading">Liste des pages</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-modules-heading">
      Les pages associées au module <b> {{ modules.libelle }} </b> :
    </p>

    <div class="table-responsive" id="entities" *ngIf="modules.pages && modules.pages.length > 0">
      <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span>Libellé</span> <fa-icon icon="sort"></fa-icon></th>

            <th scope="col"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pages of modules.pages" data-cy="entityTable">
            <td>{{ pages.libelle }}</td>

            <td>{{ pages.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
