<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <br />
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="justify-content-center" style="border: 1px solid lightgray; padding: 2%">
          <fieldset>
            <legend style="font-size: 17px; color: #24695c; font-weight: 700">
              <div>
                <div class="form-group" [hidden]="!augmentation.id">
                  <h2 class="custom-title" id="jhi-augmentation-heading">
                    Modification de l'augmentaion: <b>{{ augmentation.postes?.libelle }}</b>
                  </h2>
                </div>
                <div class="form-group" [hidden]="augmentation.id">
                  <h2 class="custom-title" id="jhi-augmentation-heading">Ajout d'une nouvelle Augmentation</h2>
                </div>
              </div>
            </legend>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Poste<span style="color: red">*</span> </label>
                <select
                  class="form-control"
                  id="field_histoAugmentation"
                  data-cy="histoAugmentation"
                  name="histoAugmentation"
                  [(ngModel)]="augmentation.histoAugmentation"
                  required
                >
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="postesOption.id === augmentation.postes?.id ? augmentation.postes : postesOption"
                    *ngFor="let postesOption of histoAugmentation"
                  >
                    {{ postesOption.codePoste }}--{{ postesOption.libelle }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label> Référence <span style="color: red">*</span> </label>
                <input
                  type="text"
                  class="form-control"
                  name="reference"
                  id="field_reference"
                  data-cy="reference"
                  placeholder="Référence augmentation"
                  [(ngModel)]="augmentation.reference"
                  required
                />
                <div [hidden]="!(editForm.controls.reference?.dirty && editForm.controls.reference?.invalid)">
                  <small class="form-text text-danger" [hidden]="!editForm.controls.reference?.errors?.required">
                    Ce champ est obligatoire.
                  </small>
                  <small class="form-text text-danger" [hidden]="!editForm.controls.reference?.errors?.number">
                    Ce champ doit comporter un texte.
                  </small>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Montant<span style="color: red">*</span> </label>
                <input
                  type="number"
                  class="form-control"
                  name="montant"
                  id="field_montant"
                  data-cy="montant"
                  placeholder="montant augmentation"
                  [(ngModel)]="augmentation.montant"
                  required
                />
                <div [hidden]="!(editForm.controls.montant?.dirty && editForm.controls.montant?.invalid)">
                  <small class="form-text text-danger" [hidden]="!editForm.controls.montant?.errors?.required">
                    Ce champ est obligatoire.
                  </small>
                  <small class="form-text text-danger" [hidden]="!editForm.controls.montant?.errors?.number">
                    Ce champ doit comporter un nombre.
                  </small>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <br />
        <br />
      </div>

      <div style="display: flex; justify-content: center; align-items: center">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        &nbsp;&nbsp;
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
