<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="saveLocalite()" #editForm="ngForm">
      <h2 id="jhi-localite-heading" class="custom-title" [hidden]="!localite.id">Modifier cette localité</h2>
      <h2 id="jhi-localite-heading" class="custom-title" [hidden]="localite.id">Ajouter une nouvelle localité</h2>
      <div>
        <div class="justify-content-center" style="border: 1px solid lightgray; padding: 2%">
          <fieldset>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Code<span style="color: red">*</span> </label>
                <input
                  type="text"
                  class="form-control"
                  name="code"
                  id="field_code"
                  [(ngModel)]="localite.code"
                  required
                  oninput="this.value = this.value.toUpperCase()"
                />
                <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                  <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required"> Champ obligatoire </small>
                </div>
              </div>
              <div class="col-md-6">
                <label> Libellé<span style="color: red">*</span> </label>
                <input
                  type="text"
                  class="form-control"
                  name="libelle"
                  id="field_libelle"
                  [(ngModel)]="localite.libelle"
                  required
                  oninput="this.value = this.value.toUpperCase()"
                />
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label>Type Localité</label>
                <select
                  class="form-control"
                  id="field_typeLocalite"
                  [(ngModel)]="localite.typeLocalite"
                  (change)="getLocaliteRattachement(localite.typeLocalite)"
                  name="typeLocalite"
                  (change)="onKeyUp($event)"
                >
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="typeLocaliteOption.id === localite.typeLocalite?.id ? localite.typeLocalite : typeLocaliteOption"
                    *ngFor="let typeLocaliteOption of typeLocalites; trackBy: trackTypeLocaliteById"
                  >
                    {{ typeLocaliteOption.libelle }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <div class="col mb-2 row">
                  <label [hidden]="keys !== '4: Object'"> Découpage</label>
                  <span>
                    <select
                      class="form-control"
                      id="field_typeCommune"
                      name="typeCommune"
                      [hidden]="keys !== '4: Object'"
                      #typeCommune
                      (change)="onSelected()"
                      (change)="getLocaliteRattachement2(localite.typeLocalite)"
                    >
                      <option value="DP">Liée au Département</option>

                      <option value="AR">Liée à l'Arrondissement</option>
                    </select>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Niveau</label>
                <input type="text" class="form-control" name="niveau" id="field_niveau" [(ngModel)]="localite.niveau" />
              </div>
              <div class="col-md-6">
                <label> Version </label>
                <input type="text" class="form-control" name="version" id="field_version" [(ngModel)]="localite.version" />
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Code Arrondissement</label>
                <select class="form-control" id="field_arrondissement" name="arrondissement" [(ngModel)]="localite.arrondissement">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="arrondissementOption.id === localite.arrondissement?.id ? localite.arrondissement : arrondissementOption"
                    *ngFor="let arrondissementOption of arrondissementSharedCollection; trackBy: trackArrondissementById"
                  >
                    {{ arrondissementOption.libelle }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label> Code Département </label>
                <select class="form-control" id="field_departement" name="departement" [(ngModel)]="localite.departement" required>
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="depOption.id === localite.departement?.id ? localite.departement : depOption"
                    *ngFor="let depOption of departementsSharedCollection; trackBy: trackDepartementById"
                  >
                    {{ depOption.libelle }}
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <br />
      <div style="display: flex; justify-content: center; align-items: center">
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>
        &nbsp;
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
        </button>
      </div>
    </form>
  </div>
</div>
