<div>
  <h2 id="page-heading" data-cy="ConventionEtablissementsHeading">
    <span jhiTranslate="admingatewayApp.carriereConventionEtablissements.home.title">Convention Etablissements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="admingatewayApp.carriereConventionEtablissements.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-convention-etablissements"
        [routerLink]="['/convention-etablissements/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="admingatewayApp.carriereConventionEtablissements.home.createLabel">
          Create a new Convention Etablissements
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="conventionEtablissements?.length === 0">
    <span jhiTranslate="admingatewayApp.carriereConventionEtablissements.home.notFound">No conventionEtablissements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="conventionEtablissements && conventionEtablissements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etablissementId">
            <span jhiTranslate="admingatewayApp.carriereConventionEtablissements.etablissementId">Etablissement Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conventionId">
            <span jhiTranslate="admingatewayApp.carriereConventionEtablissements.conventionId">Convention Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conventionEtablissements of conventionEtablissements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/convention-etablissements', conventionEtablissements.id, 'view']">{{ conventionEtablissements.id }}</a>
          </td>
          <td>{{ conventionEtablissements.etablissementId }}</td>
          <td>{{ conventionEtablissements.conventionId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/convention-etablissements', conventionEtablissements.id, 'view']"
                class="btn btn-outline-info btn-sm"
                data-cy="entityDetailsButton"
                title="Details"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/convention-etablissements', conventionEtablissements.id, 'edit']"
                class="btn btn-outline-primary btn-sm"
                data-cy="entityEditButton"
                title="Modifier"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                (click)="delete(conventionEtablissements)"
                class="btn btn-outline-danger btn-sm"
                data-cy="entityDeleteButton"
                title="Supprimer"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="conventionEtablissements && conventionEtablissements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
