<div>
  <h2 id="page-heading" data-cy="ParamQuotiteCessibleHeading">
    <span jhiTranslate="admingatewayApp.paramQuotiteCessible.home.title">Param Quotite Cessibles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="admingatewayApp.paramQuotiteCessible.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-param-quotite-cessible"
        [routerLink]="['/param-quotite-cessible/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="admingatewayApp.paramQuotiteCessible.home.createLabel"> Create a new Param Quotite Cessible </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paramQuotiteCessibles?.length === 0">
    <span jhiTranslate="admingatewayApp.paramQuotiteCessible.home.notFound">No paramQuotiteCessibles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paramQuotiteCessibles && paramQuotiteCessibles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libelle">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.libelle">Libellé</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salaireDebut">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.salaireDebut">Salaire Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salaireFin">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.salaireFin">Salaire Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tauxTranche">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.tauxTranche">Taux Tranche</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateImpact">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.dateImpact">Date Impact</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!-- <th scope="col" jhiSortBy="userIdInsert">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.userIdInsert">User Id Insert</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userdateInsert">
            <span jhiTranslate="admingatewayApp.paramQuotiteCessible.userdateInsert">Userdate Insert</span> <fa-icon icon="sort"></fa-icon>
          </th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paramQuotiteCessible of paramQuotiteCessibles; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/param-quotite-cessible', paramQuotiteCessible.id, 'view']">{{ paramQuotiteCessible.id }}</a>
          </td> -->
          <td>{{ paramQuotiteCessible.code }}</td>
          <td>{{ paramQuotiteCessible.libelle }}</td>
          <td>{{ paramQuotiteCessible.salaireDebut }}</td>
          <td>{{ paramQuotiteCessible.salaireFin }}</td>
          <td>{{ paramQuotiteCessible.tauxTranche }}</td>
          <td>{{ paramQuotiteCessible.dateImpact | formatMediumDate }}</td>
          <!-- <td>{{ paramQuotiteCessible.userIdInsert }}</td>
          <td>{{ paramQuotiteCessible.userdateInsert | formatMediumDate }}</td> -->
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/param-quotite-cessible', paramQuotiteCessible.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/param-quotite-cessible', paramQuotiteCessible.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paramQuotiteCessible)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paramQuotiteCessibles && paramQuotiteCessibles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
