<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="paramMatricules">
      <h2 data-cy="paramMatriculesDetailsHeading">
        <span>Matricules</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span>Numéro Matricule</span></dt>
        <dd>
          <span>{{ paramMatricules.numeroMatricule }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.carriereParamMatricules.datePriseEnCompte">Date Prise En Compte</span></dt>
        <dd>
          <span>{{ paramMatricules.datePriseEnCompte | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/param-matricules', paramMatricules.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
