<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="typeDestinataires">
      <h2 data-cy="typeDestinatairesDetailsHeading" class="custom-title">
        <span jhiTranslate="admingatewayApp.typeDestinataires.detail.title">Type Destinataires</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <!-- <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typeDestinataires.id }}</span>
        </dd> -->
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ typeDestinataires.code }}</span>
        </dd>
        <dt><span>Libellé</span></dt>
        <dd>
          <span>{{ typeDestinataires.libelle }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ typeDestinataires.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/type-destinataires', typeDestinataires.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Modifier</span>
      </button>
    </div>
  </div>
</div>
