<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="augmentationHierarchie">
      <h2 data-cy="augmentationHierarchieDetailsHeading">
        <span jhiTranslate="admingatewayApp.augmentationHierarchie.detail.title">Augmentation Hierarchie</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span jhiTranslate="admingatewayApp.augmentationHierarchie.montant">Montant</span></dt>
        <dd>
          <span>{{ augmentationHierarchie.montant }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.augmentationHierarchie.augmentationId">Augmentation</span></dt>
        <dd>
          <span>{{ augmentationHierarchie.augmentationId }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.augmentationHierarchie.hierarchieId">Hierarchie</span></dt>
        <dd>
          <span>{{ augmentationHierarchie.hierarchieId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/augmentation-hierarchie', augmentationHierarchie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
