<form *ngIf="personne" name="deleteForm" (ngSubmit)="confirmDelete(personne.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="personneDeleteDialogHeading">Confirmation Suppresion</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-personne-heading">
      Êtes-vous sûr de vouloir supprimer cet utilisateur <b> {{ personne.prenom }} {{ personne.nom }} </b>?
    </p>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-personne-heading" *ngIf="test != null">Vous ne pouvez pas supprimer cette personne</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button id="jhi-confirm-delete-personne" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
    </button>
  </div>
</form>
