<div>
  <h2 id="page-heading" data-cy="RolesHeading">
    <span>Liste des Rôles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-roles"
        [routerLink]="['/roles/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="roles?.length === 0">
    <span>Aucun rôle trouvé ! </span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="roles && roles.length > 0">
    <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="libelle"><span>Libellé</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roles of roles; trackBy: trackId" data-cy="entityTable">
          <td>{{ roles.libelle }}</td>
          <td>{{ roles.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                (click)="getPagesActions(roles)"
                class="btn btn-outline-warning"
                title="Visualiser les pages et actions"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/roles', roles.id, 'view']"
                class="btn btn-outline-info"
                title="Détails"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/roles', roles.id, 'edit']"
                class="btn btn-outline-primary"
                title="Modifier"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <!-- <button
                type="submit"
                (click)="delete(roles)"
                class="btn btn-outline-danger"
                title="Supprimer"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="roles && roles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
