<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="billeteur">
      <h2 data-cy="billeteurDetailsHeading" style="text-align: center">
        <span jhiTranslate="admingatewayApp.billeteur.detail.title">Billeteur</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span>Etablissement</span></dt>
        <dd>
          <span>{{ billeteur.etablissement?.libelleLong }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.billeteur.code">Code</span></dt>
        <dd>
          <span>{{ billeteur.code }}</span>
        </dd>
        <dt><span>Prénom</span></dt>
        <dd>
          <span>{{ billeteur.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.billeteur.nom">Nom</span></dt>
        <dd>
          <span>{{ billeteur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.billeteur.matricule">Matricule</span></dt>
        <dd>
          <span>{{ billeteur.matricule }}</span>
        </dd>
        <dt><span>Téléphone</span></dt>
        <dd>
          <span>{{ billeteur.telephone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/billeteur', billeteur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
