<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-actions-heading" data-cy="ActionsCreateUpdateHeading" class="custom-title">{{ this.titre }}</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-4">
          <div class="col mb-2 row">
            <label class="form-label custom-label" for="field_code">Code<span style="color: red">*</span></label>
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control custom-control"
                name="code"
                id="field_code"
                data-cy="code"
                formControlName="code"
                required
              />
            </div>
          </div>

          <div class="col mb-2 row">
            <label class="form-label custom-label" for="field_libelle">Libellé<span style="color: red">*</span></label>
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control custom-control"
                name="libelle"
                id="field_libelle"
                data-cy="libelle"
                formControlName="libelle"
                required
              />
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col mb-2 row">
            <label class="form-label custom-label" for="field_description">Description</label>
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control custom-control"
                name="description"
                id="field_description"
                data-cy="description"
                formControlName="description"
              />
            </div>
          </div>

          <div class="col mb-2 row">
            <label class="form-label custom-label" for="field_actionLink"></label>
            <div class="col-sm-7">
              <!-- <input
                type="text"
                class="form-control custom-control"
                name="actionLink"
                id="field_actionLink"
                data-cy="actionLink"
                formControlName="actionLink"
              /> -->
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="field_pages">Pages</label>
          <select class="form-control" id="field_pages" data-cy="pages" multiple name="pages" formControlName="pages">
            <option
              [ngValue]="getSelectedPages(pagesOption, editForm.get('pages')!.value)"
              *ngFor="let pagesOption of pagesSharedCollection; trackBy: trackPagesById"
            >
              {{ pagesOption.libelle }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
        </button>
      </div>
    </form>
  </div>
</div>
