<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="categorieActes">
      <h2 data-cy="categorieActesDetailsHeading" class="custom-title">
        <span>Categorie Actes</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span jhiTranslate="admingatewayApp.carriereCategorieActes.code">Code</span></dt>
        <dd>
          <span>{{ categorieActes.code }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.carriereCategorieActes.libelle">Libelle</span></dt>
        <dd>
          <span>{{ categorieActes.libelle }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/categorie-actes', categorieActes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
