<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="profils">
      <h2 data-cy="profilsDetailsHeading" class="custom-title">
        <span
          >Visualisation du profil: <b>{{ profils.libelle }}</b></span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span>Libellé</span></dt>
        <dd>
          <span>{{ profils.libelle }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ profils.description }}</span>
        </dd>
        <dt><span>Roles</span></dt>
        <dd>
          <span *ngFor="let roles of profils.roles; let last = last">
            <a [routerLink]="['/roles', roles?.id, 'view']">{{ roles.libelle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/profils', profils.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Modifier</span>
      </button>
    </div>
  </div>
</div>
