<div>
  <h2 id="page-heading" data-cy="ElementsVariablesHeading">
    <span jhiTranslate="admingatewayApp.paieElementsVariables.home.title">Elements Variables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="admingatewayApp.paieElementsVariables.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-elements-variables"
        [routerLink]="['/elements-variables/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="elementsVariables?.length === 0">
    <span jhiTranslate="admingatewayApp.paieElementsVariables.home.notFound">No elementsVariables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="elementsVariables && elementsVariables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codePoste">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.codePoste">Code Poste</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matricule">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reference">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.reference">Reference</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="montant">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.montant">Montant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="taux">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.taux">Taux</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateEcheance">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.dateEcheance">Date Echeance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="periode">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.periode">Periode</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statut">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.statut">Statut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="agentId">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.agentId">Agent Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etablissementId">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.etablissementId">Etablissement Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userInsertId">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.userInsertId">User Insert Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userUpdateId">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.userUpdateId">User Update Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateInsert">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.dateInsert">Date Insert</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateUpdate">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.dateUpdate">Date Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="postes.id">
            <span jhiTranslate="admingatewayApp.paieElementsVariables.postes">Postes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elementsVariables of elementsVariables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/elements-variables', elementsVariables.id, 'view']">{{ elementsVariables.id }}</a>
          </td>
          <td>{{ elementsVariables.codePoste }}</td>
          <td>{{ elementsVariables.matricule }}</td>
          <td>{{ elementsVariables.reference }}</td>
          <td>{{ elementsVariables.montant }}</td>
          <td>{{ elementsVariables.taux }}</td>
          <td>{{ elementsVariables.dateDebut | formatMediumDate }}</td>
          <td>{{ elementsVariables.dateEcheance | formatMediumDate }}</td>
          <td>{{ elementsVariables.periode }}</td>
          <td>{{ elementsVariables.statut }}</td>
          <td>{{ elementsVariables.agentId }}</td>
          <td>{{ elementsVariables.etablissementId }}</td>
          <td>{{ elementsVariables.userInsertId }}</td>
          <td>{{ elementsVariables.userUpdateId }}</td>
          <td>{{ elementsVariables.dateInsert | formatMediumDatetime }}</td>
          <td>{{ elementsVariables.dateUpdate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="elementsVariables.postes">
              <a [routerLink]="['/postes', elementsVariables.postes?.id, 'view']">{{ elementsVariables.postes?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/elements-variables', elementsVariables.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/elements-variables', elementsVariables.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(elementsVariables)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="elementsVariables && elementsVariables.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
