<form *ngIf="profils" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="modulesProfilDialogHeading">Liste des rôles attribués</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-profils-heading">
      Les rôles attribués au Profil <b> {{ profils.libelle }} </b> :
    </p>

    <div class="table-responsive" id="entities" *ngIf="profils.roles && profils.roles.length > 0">
      <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span>Libellé</span> <fa-icon icon="sort"></fa-icon></th>

            <th scope="col"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roles of profils.roles" data-cy="entityTable">
            <td>{{ roles.libelle }}</td>

            <td>{{ roles.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
