<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="typeReglement">
      <h2 data-cy="typeReglementDetailsHeading" class="custom-title">
        <span>Type Reglement</span>
      </h2>

      <!-- <hr /> -->

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ typeReglement.code }}</span>
        </dd>
        <dt><span>Libellé</span></dt>
        <dd>
          <span>{{ typeReglement.libelle }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ typeReglement.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>
    </div>
  </div>
</div>
