<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-param-parts-fiscales-heading" data-cy="ParamPartsFiscalesCreateUpdateHeading" class="custom-title">
        Modifier Part Fiscale
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="row" style="margin-top: 1%">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="admingatewayApp.paramPartsFiscales.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" readonly />
            <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
              </small>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label" for="field_libelle">Libellé</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
          </div>
        </div>

        <div class="row" style="margin-top: 1%">
          <div class="col-md-6">
            <label class="form-label" jhiTranslate="admingatewayApp.paramPartsFiscales.composition" for="field_composition"
              >Composition</label
            >
            <input
              type="text"
              class="form-control"
              name="composition"
              id="field_composition"
              data-cy="composition"
              formControlName="composition"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" jhiTranslate="admingatewayApp.paramPartsFiscales.nombreParts" for="field_nombreParts"
              >Nombre Parts</label
            >
            <input
              type="number"
              class="form-control"
              name="nombreParts"
              id="field_nombreParts"
              data-cy="nombreParts"
              formControlName="nombreParts"
            />
            <div
              *ngIf="editForm.get('nombreParts')!.invalid && (editForm.get('nombreParts')!.dirty || editForm.get('nombreParts')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('nombreParts')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('nombreParts')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramPartsFiscales.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramPartsFiscales.userIdInsert" for="field_userIdInsert"
            >User Id Insert</label
          >
          <input
            type="number"
            class="form-control"
            name="userIdInsert"
            id="field_userIdInsert"
            data-cy="userIdInsert"
            formControlName="userIdInsert"
          />
        </div> -->

        <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="admingatewayApp.paramPartsFiscales.userdateInsert" for="field_userdateInsert"
            >Userdate Insert</label
          >
          <div class="input-group">
            <input
              id="field_userdateInsert"
              data-cy="userdateInsert"
              type="text"
              class="form-control"
              name="userdateInsert"
              ngbDatepicker
              #userdateInsertDp="ngbDatepicker"
              formControlName="userdateInsert"
            />
            <button type="button" class="btn btn-secondary" (click)="userdateInsertDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
