<div class="row">
  <div class="card col-mb-3 card1" style="display: flex; justify-content: center; align-items: center">
    <img src="../../content/images/logo_dtai.png" width="10%" />
    <div class="card-body">
      <b>
        <p class="card-text"><a href="#">Direction Du Traitement Automatique de L'Information. </a></p>
      </b>
    </div>
  </div>
  <div class="text-center">En Cours de dévéloppement.....</div>
  <div class="col-md-12">
    <div [ngSwitch]="account !== null">
      <div class="container">
        <h1>Missions</h1>
        <p>
          <u><span style="font-size: 29px">L</span>a Direction du Traitement automatique de l’Information</u> est chargée de la préparation,
          de la mise en œuvre et du contrôle des stratégies et politiques informatiques du Ministère de l’Economie, des Finances et du
          Plan.<br />
          Elle assure le secrétariat de la Commission ministérielle informatique.<br />
        </p>
        <p>A cet effet, elle : <br /></p>
        <div class="col-md-12">Oriente, optimise et contrôle les investissements des unités administratives du Ministère ;</div>
        <div class="col-md-12">
          Conduit et coordonne les développements de projets des services ne disposant pas de Centre informatique propre ;
        </div>
        <div class="col-md-12">
          Assure le contrôle et la coordination des développements informatiques réalisés par les Centres informatiques des unités
          administratives du Ministère notamment en ce qui concerne l’acquisition des matériels, logiciels et fournitures informatiques ;
        </div>
        <div class="col-md-12">Assure l’exploitation des traitements dont elle est chargée.</div>
        <br />
        <u><span style="font-size: 29px">L</span>a Direction du Traitement automatique de l’Information</u> comprend :<br />
        la Division de la Production ;<br />
        la Division du Développement des Applications ;<br />
        la Division de la Formation et de la Documentation ;<br />
        le Bureau Audit et Normes ;<br />
        le Bureau administratif et financier.
      </div>
    </div>
  </div>
  <div id="scroll_to_top">
    <a href="#top"><img src="../../content/images/fleche_haut_2.png" alt="Retourner en haut" /></a>
  </div>
</div>
<br /><br /><br /><br /><br />
