<div>
  <h2 id="page-heading" data-cy="TableValeurHeading">
    <span>Liste des Tables de Valeurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-table-valeur"
        [routerLink]="['/table-valeur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Ajouter une table valeur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tableValeurs?.length === 0">
    <span>Aucune valeur trouvé !</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tableValeurs && tableValeurs.length > 0">
    <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libelle"><span>Libellé</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tabletypevaleur.id"><span>Type de valeur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableValeur of tableValeurs; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/table-valeur', tableValeur.id, 'view']">{{ tableValeur.id }}</a>
          </td> -->
          <td>{{ tableValeur.code }}</td>
          <td>{{ tableValeur.libelle }}</td>
          <td>{{ tableValeur.description }}</td>
          <td>
            <div *ngIf="tableValeur.tabletypevaleur">
              <a [routerLink]="['/table-type-valeur', tableValeur.tabletypevaleur?.id, 'view']">{{
                tableValeur.tabletypevaleur?.libelle
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/table-valeur', tableValeur.id, 'view']"
                class="btn btn-outline-info btn-sm"
                data-cy="entityDetailsButton"
                title="Details"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
              <button
                type="submit"
                [routerLink]="['/table-valeur', tableValeur.id, 'edit']"
                class="btn btn-outline-primary btn-sm"
                data-cy="entityEditButton"
                title="Modifier"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                (click)="delete(tableValeur)"
                class="btn btn-outline-danger btn-sm"
                data-cy="entityDeleteButton"
                title="Supprimer"
                disabled
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="tableValeurs && tableValeurs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
