<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typeActes">
      <h2 data-cy="typeActesDetailsHeading"><span jhiTranslate="admingatewayApp.typeActes.detail.title">Type Actes</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typeActes.id }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.typeActes.code">Code</span></dt>
        <dd>
          <span>{{ typeActes.code }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.typeActes.libelle">Libellé</span></dt>
        <dd>
          <span>{{ typeActes.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.typeActes.description">Description</span></dt>
        <dd>
          <span>{{ typeActes.description }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.typeActes.userIdInsert">User Id Insert</span></dt>
        <dd>
          <span>{{ typeActes.userIdInsert }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.typeActes.userdateInsert">Userdate Insert</span></dt>
        <dd>
          <span>{{ typeActes.userdateInsert | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.typeActes.categorieactes">Categorieactes</span></dt>
        <dd>
          <div *ngIf="typeActes.categorieactes">
            <a [routerLink]="['/categorie-actes', typeActes.categorieactes?.id, 'view']">{{ typeActes.categorieactes?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/type-actes', typeActes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
