<div class="d-flex justify-content-center">
  <div class="col-10 custom-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-grille-indiciaire-heading"
        data-cy="GrilleIndiciaireCreateUpdateHeading"
        style="text-align: center; font-weight: 600; text-transform: uppercase; font-size: 12px"
      >
        {{ titre }}
      </h2>
      <br />
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="justify-content-center" style="border: 1px solid lightgray; padding: 2%">
          <fieldset>
            <legend style="font-size: 17px; color: #24695c; font-weight: 700">Paramètrage Grille Indiciaire</legend>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Hiérarchie<span style="color: red">*</span> </label>
                <select
                  class="form-control"
                  id="field_hierarchie"
                  data-cy="hierarchie"
                  name="hierarchie"
                  formControlName="hierarchie"
                  required
                >
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="
                      hierarchieOption.id === editForm.get('hierarchie')!.value?.id ? editForm.get('hierarchie')!.value : hierarchieOption
                    "
                    *ngFor="let hierarchieOption of hierarchieSharedCollection"
                  >
                    {{ hierarchieOption.libelle }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label> Grade<span style="color: red">*</span> </label>
                <select class="form-control" id="field_grade" data-cy="grade" name="grade" formControlName="grade" required>
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="gradeOption.id === editForm.get('grade')!.value?.id ? editForm.get('grade')!.value : gradeOption"
                    *ngFor="let gradeOption of gradeSharedCollection"
                  >
                    {{ gradeOption.code }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label>Echelon </label>
                <select class="form-control" id="field_echelon" data-cy="echelon" name="echelon" formControlName="echelon" required>
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="echelonOption.id === editForm.get('echelon')!.value?.id ? editForm.get('echelon')!.value : echelonOption"
                    *ngFor="let echelonOption of echelonSharedCollection"
                  >
                    {{ echelonOption.libelle }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Indice</label>
                <select class="form-control" id="field_indices" data-cy="indices" name="indices" formControlName="indices" required>
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="indicesOption.id === editForm.get('indices')!.value?.id ? editForm.get('indices')!.value : indicesOption"
                    *ngFor="let indicesOption of indicesSharedCollection; trackBy: trackIndicesById"
                  >
                    {{ indicesOption.libelle }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label>Ancienneté<span style="color: red">*</span></label>
                <input
                  type="number"
                  class="form-control"
                  name="anciennete"
                  id="field_anciennete"
                  data-cy="nom"
                  formControlName="anciennete"
                  required
                />
              </div>
              <div class="col-md-6"></div>
            </div>
          </fieldset>
        </div>
      </div>
      <br />
      <div style="display: flex; justify-content: center; align-items: center">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        &nbsp;
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
