<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <div *ngIf="convention">
      <h2 data-cy="conventionDetailsHeading" class="custom-title">
        <span>
          Visualisation de la Convention : <b>{{ convention.libelle }}</b></span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details detail-card">
        <dt><span jhiTranslate="admingatewayApp.carriereConvention.code">Code</span></dt>
        <dd>
          <span>{{ convention.code }}</span>
        </dd>
        <dt><span>Libellé</span></dt>
        <dd>
          <span>{{ convention.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="admingatewayApp.carriereConvention.description">Description</span></dt>
        <dd>
          <span>{{ convention.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/convention', convention.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
