<div>
  <h2 id="page-heading" data-cy="HistoAugmentationHeading">
    <span jhiTranslate="admingatewayApp.histoAugmentation.home.title">Histo Augmentations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="admingatewayApp.histoAugmentation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-histo-augmentation"
        [routerLink]="['/histo-augmentation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Ajout Histo Augmentation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="histoAugmentations?.length === 0">
    <span jhiTranslate="admingatewayApp.histoAugmentation.home.notFound">No histoAugmentations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="histoAugmentations && histoAugmentations.length > 0">
    <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="codePoste">
            <span jhiTranslate="admingatewayApp.histoAugmentation.codePoste">Code Poste</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="libelle"><span>Libellé</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="admingatewayApp.histoAugmentation.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="admingatewayApp.histoAugmentation.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categorie"><span>Catégorie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="hierarchie"><span>Hiérarchie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="plafond">
            <span jhiTranslate="admingatewayApp.histoAugmentation.plafond">Plafond</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let histoAugmentation of histoAugmentations; trackBy: trackId" data-cy="entityTable">
          <td>{{ histoAugmentation.codePoste }}</td>
          <td>{{ histoAugmentation.libelle }}</td>
          <td>{{ histoAugmentation.type }}</td>
          <td>{{ histoAugmentation.date?.format('DD/MM/YYYY') }}</td>
          <td>{{ histoAugmentation.categorie }}</td>
          <td>{{ histoAugmentation.hierarchie }}</td>
          <td>{{ histoAugmentation.plafond }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/histo-augmentation', histoAugmentation.id, 'view']"
                class="btn btn-outline-info"
                title="Détails"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/histo-augmentation', histoAugmentation.id, 'edit']"
                class="btn btn-outline-primary"
                title="Modifier"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                (click)="delete(histoAugmentation)"
                class="btn btn-outline-danger btn-sm"
                data-cy="entityDeleteButton"
                title="Supprimer"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="histoAugmentations && histoAugmentations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
