<div>
  <h2 id="page-heading" data-cy="GrilleConventionHeading">
    <span>Les Grilles Conventions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span> Actualiser </span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grille-convention"
        [routerLink]="['/grille-convention/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="col-11">
    <br />
    <div id="navcontainer">
      <div class="row">
        <div class="col-md-10">
          <div class="input-group" id="adv-search">
            <input
              type="text"
              class="form-control searchbar"
              name="motCles"
              id="field_motCles"
              [(ngModel)]="libelleEtablissement"
              placeholder="Rechercher Grille Convention par etablissement …"
              oninput="this.value = this.value.toUpperCase()"
            />
            &nbsp;
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" title="Rechercher" (click)="recherche()">
                  <fa-icon [icon]="'search'"></fa-icon>
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger" title="Effacer" (click)="effacer()">
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="grilleConventions?.length === 0">
    <span> Aucune grille convention trouvée </span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="grilleConventions && grilleConventions.length > 0">
    <table class="table table-bordered table-condensed table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="grade">
            <span>Grade</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categorie">
            <span>Catégorie</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="classe">
            <span>Classe</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salaireBase"><span>Salaire de Base</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tauxPrimeDeTechnicite">
            <span>Taux Prime De Technicité</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tauxPrimeDeTechnicite">
            <span>Etablissement</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grilleConvention of grilleConventions; trackBy: trackId" data-cy="entityTable">
          <td>{{ grilleConvention.codeGrade }}</td>
          <!-- <td>{{ grilleConvention.libelleCategorie }}</td> -->
          <td>{{ grilleConvention.libelleClasse }} - {{ grilleConvention.libelleCategorie }}</td>
          <td>{{ grilleConvention.libelleClasse }}</td>
          <td style="text-align: right">{{ grilleConvention.salaireDeBase | number }}</td>
          <td style="text-align: right">{{ grilleConvention.tauxPrimeDeTechnicite }}</td>
          <td>{{ grilleConvention.libelleEtablissement }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!-- <button
                type="submit"
                [routerLink]="['/grille-convention', grilleConvention.id, 'view']"
                class="btn btn-outline-info btn-sm"
                data-cy="entityDetailsButton"
                title="Details"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button> -->

              <!-- <button
                type="submit"
                [routerLink]="['/grille-convention', grilleConvention.id, 'edit']"
                class="btn btn-outline-primary btn-sm"
                data-cy="entityEditButton"
                title="Modifier"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button> -->

              <!-- <button
                type="submit"
                (click)="delete(grilleConvention)"
                class="btn btn-outline-danger btn-sm"
                data-cy="entityDeleteButton"
                title="Supprimer"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="grilleConventions && grilleConventions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
