<div class="d-flex justify-content-center">
  <div class="col-8 custom-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-postes-reference-actes-heading" data-cy="PostesReferenceActesCreateUpdateHeading">Postes Reference Actes</h2>
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="justify-content-center" style="border: 1px solid lightgray; padding: 2%">
          <fieldset>
            <legend style="font-size: 17px; color: #24695c; font-weight: 700">Paramètrage Exclusion Augmentation</legend>
            <div class="row" style="margin-top: 1%">
              <div class="col-md-6">
                <label> Poste<span style="color: red">*</span> </label>

                <select class="form-control" id="field_postes" data-cy="postes" name="postes" formControlName="postes" required>
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="postesOption.id === editForm.get('postes')!.value?.id ? editForm.get('postes')!.value : postesOption"
                    *ngFor="let postesOption of postes; trackBy: trackPostesById"
                  >
                    {{ postesOption.code }}--{{ postesOption.libelle }}
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <br />
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
